@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.filter-orange {
		filter: brightness(0) saturate(100%) invert(58%) sepia(90%) saturate(2472%) hue-rotate(347deg)
			brightness(101%) contrast(102%);
	}
	/* ... */
}

/*? USING LOCAL FONT FROM STATIC FOLDER */
@font-face {
	font-family: 'KumbhSans';
	font-weight: 300 700;
	font-display: swap;
	src: url('/fonts/KumbhSans/KumbhSans-VariableFont_YOPQ,wght.ttf') format('truetype');
}

/*? Simple Reset */
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	font: inherit;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input:focus::placeholder {
	color: transparent;
}

input,
textarea,
button,
select,
a {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img,
svg {
	margin: 0;
	display: block;
	max-width: 100%;
}
/*?---------------- */

/*? Using local font-family */
body {
	@apply font-kumbhSans text-base text-darkGrayishBlue;
}
/*?---------------- */

.footerLabel:after {
	@apply content-[''] absolute top-1/2 -right-2 rotate-45 -translate-y-1/2 border-8 border-blue-500;
}
